fish/completions/
fish/conf.d/
fish/fish_plugins
fish/fish_variables
fish/functions/
fish/themes/

glib-2.0/
htop/
mimeapps.list
neofetch/
pulse/
qutebrowser/
pavucontrol.ini
discord/
cava/
dconf/
yarn/
nvim/
