.gitignore
Android Open Source Project/
Android\ Open\ Source\ Project/
BraveSoftware/
dconf/
flutter/
Google/
gtk-2.0/
gtk-3.0/
htop/
neofetch/
nitrogen/
omf/
pavucontrol.ini
pulse/
spotify/
starship.toml
yay/
nvim/
fish/
fish/fish_variables
